body{
    background-color: black;
    color: white;
    margin: 0px;
           

}

h1{
font-family: 'League Spartan', sans-serif;  
font-size: 57.7px;
}
/**welcome section**/
#first-page{
    text-align: center; 
    background-color: black;  
    height: 100vh;
}
#dp{
    height: 300px;
}
h2{
    font-family: 'Sanchez', serif;
    font-weight: 100;
}
p{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}
.segment-button{
    background-color: #6B5576;
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: 24px;
    padding: 20px;   
    border: 40px;
    border-radius: 30px;
    transition: transform 0.3s ease-out;

}
.segment-button:hover{
    box-shadow: 0px 0px 20px #fff;
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    
}
.partitions{
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}
    

/**second page**/

.circle{
    height: 100px;
    margin: 30px;   
    transition: transform 0.3s ease-out;
}
.circle:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    border-radius: 50%;

  
}

#write{
    display:flex;
    background-color: black;
    margin-left: 200px;
    margin-right: 200px;
    
    
}

.dibba{
    width: 50%;
}
#thought-bubble{
    background-color: #21212f;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 370px;
}
#thought-bubble2{
    background-color:#21212f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 350px;
    margin-top: 10px;
}
#thought-bubble3{
    background-color:#21212f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 340px;
    margin-top: 10px;
}

#right{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   

    }
    
#writer{
    width: 500px;
}


#writing{
    text-align: center;
    background-color:#21212f;
    padding: 20px;
    border-radius: 40px;
}
a{
    text-decoration: none;
    color: white;
}



/*third page*/
#inksden{
    display: none;
  
    position: fixed;
    bottom: 1px;
    z-index: 9;  
   
   padding: 200px;
   height: 100vh;
    background-color: #6B5576;    
    text-align: center;  
    top : 1px;
    opacity : 0;
    transition: opacity 1s;
   
      
}



.circle2{
    height: 150px;
    width: 150px;
}
.articles{
    display:flex;
    
    
}
#inkudenu{
    
    margin-left:460px;
    
}

#inku{
    
    font-size: 20px;
}

/** fourth page**/

#liar{
    display: none;
    position: fixed;
    bottom: 5px;  
    z-index: 9;
    background-image: url("images/bokeh.webp");
    background-color: black;
    background-size: contain;
    height: 100vh; 
    width: 100vw;     
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity : 0;
    transition: opacity 1s;
   
   
   
}
#cross{
    position:absolute;
    right: 100px;
    opacity: 50%;
    border-radius: 100%;
    padding: 20px;
   
    transition: transform 0.3s ease-out;

  

}
#cross:hover{
    opacity :100%;
    box-shadow: 0px 0px 20px #fff;
    transform: translateY(8px);
    box-shadow: 0px 0px 40px white;
    border-radius: 100%;
}


#web{
    
    height: 400px;
}


/**5th page **/

#socials{
    display: none;
    position: fixed;
    bottom: 5px;  
    z-index: 9;
    height: 100vh;
    background-color: black;
    
    justify-content: center;
    align-items:center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    opacity : 0;
    transition: opacity 1s;
   
}
#climate{
    height: 500px;
   
    
    
    margin-left: 50px;
}

/** sixth page**/

#bracuexpress{
    display: none;
    position: fixed;
    bottom: 5px;  
    z-index: 9;
    height: 100vh;
    
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right:200px;
    background-color: #6B5576;
    text-align: center;
    opacity : 0;
    transition: opacity 1s;
   
}

/** seventh page**/
#make{
    height: 100vh;
   
   
    padding-left: 200px;
    padding-right:200px;
    background-color:black;
    text-align: center;

}
iframe{
    margin-left: 50px;
    margin-top: 200px;
}
/**eighth page**/

#did{
    height:100vh;
    background-color: #6B5576;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-top:10px;;
}
#education{
    display:flex;
    justify-content: space-evenly;
    text-align:justify;
}

#school{
    height: 300px;
   
}
#grad{
    height: 300px;
    margin-left: 50px;   
    
}
/** work timeline**/
#worktimeline{
    background-image:url("images/up.png");

    
    height: 100vh;
    padding-right: 200px;
    padding-left: 200px;
    padding-top:100px;
    position: relative;
   
    
}
#lulu{
    text-align: right;
    position:absolute;
    right: 200px;
    bottom: 50px;
    

}
#one{
    transition: transform 0.3s ease-out;
    border-radius: 50%;
}

#two{
   
    position: absolute;
    right: 690px;
    top: 390px;
    z-index: 1;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
}

#three{
    position: absolute;
    right: 360px;
    top: 150px;
    z-index: 1;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
    
}
#chakri{
    margin-bottom: 0px;
    font-size: 40px;
}

#chakri1{
    position: absolute;
    z-index: 1;
    left: 403px;
    top: 100px;

}

#chakri2{
    position: absolute;
    z-index: 1;
    left: 600px;
    bottom: 100px;
}

#chakri3{
    position: absolute;
    z-index: 1;
    right: 95px;
    top: 150px;
}
#one:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    border-radius: 50%;
}
#two:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    border-radius: 50%;
}
#three:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    border-radius: 50%;
}


/** final page **/
#endpage{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    flex-direction: column;   
    

}
#contactsheet{
    display:flex;
    justify-content: space-evenly;
}

#con{
    margin-top: 30px;
    padding:30px;
    transition: transform 0.3s ease-out;
    border-radius: 50%;
    z-index: 1;
}
#con:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 20px #6B5576;

}
#footer{
    text-align: end;
}

#navbar{
    display:none;
  
    justify-content: center;
    float: middle;
    position: fixed; 
    background-color:black;
  
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: 24px;
    width: 100%;
    padding: 10px;
    z-index: 2;


}
#navbar li{
    display: inline;
    margin: 100px;
    padding: 20px;   
    border: 40px;
    border-radius: 30px;
    background-color:#21212f;
    opacity: 80%;
    transition: transform 0.3s ease-out;

 

}

#navbar li:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    opacity: 100%;

}

#home{

margin: 10px;
 color:beige;
 transition: transform 0.3s ease-out;

}

#home:hover{
    transform: translateY(8px);
    box-shadow: 0px 0px 40px #6B5576;
    border-radius: 50%;

}


 







